:root {
  --padding-1: 5rem;
  --burnt-orange: #bf5215;
  --lush-green: #57732d;
  --white: rgb(255, 255, 255);
}

section {
  position: relative;
  height: 110vh;
}

.background {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 75%
    ),
    url("../../../assets/Burnt-Orange.jpeg");
  background-position: bottom;
  background-size: cover;
}

.hero {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6rem;
}

.title {
  font-size: 11.4rem;
  padding-bottom: var(--padding-1);
  color: var(--burnt-orange);
  width: 75%;
}

.paragraph {
  font-size: 2.8rem;
  width: 45%;
  line-height: 5rem;
  padding-bottom: var(--padding-1);
  color: var(--lush-green);
}

.btn-booking {
  color: var(--white);
  background-color: var(--burnt-orange);
  margin-right: 5rem;
}

.btn-menu {
  color: var(--white);
  background-color: var(--lush-green);
}
