.container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.title {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
}

.front-background-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(191, 82, 21, 0.5) 0%,
      rgba(191, 82, 21, 0.5) 100%
    ),
    url(../../assets/cala-w6ftFbPCs9I-unsplash.jpg);
  background-size: cover;
  color: white;
}

.back-background-one {
  background: linear-gradient(
    153deg,
    rgb(236, 159, 5) 0%,
    rgb(191, 82, 21) 100%
  );
  height: 100%;
}

.back-background-one .button {
  color: var(--burnt-orange);
}

.front-background-two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(87, 115, 45, 0.5) 0%,
      rgba(87, 115, 45, 0.5) 100%
    ),
    url(../../assets/fabio-alves-BpeTaQozgN4-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
}

.back-background-two {
  background: linear-gradient(153deg, #83d475 0%, #57732d 100%);
  height: 100%;
}

.back-background-two .button {
  color: var(--lush-green);
}

.front-background-three {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(152, 153, 252, 0.5) 0%,
      rgba(152, 153, 252, 0.5) 100%
    ),
    url(../../assets/sebastian-coman-photography-Ekqld5tI3JA-unsplash.jpg);
  background-size: cover;
  color: white;
}

.back-background-three {
  background: linear-gradient(153deg, #8fc9ff 0%, #9a8efa 100%);
  height: 100%;
}

.back-background-three .button {
  color: rgb(152, 153, 252);
}

.button {
  position: absolute !important;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white !important;
}

.card-back-description {
  color: white;
  padding: 3rem;
  font-size: 2rem;
  line-height: 1.5;
}
