@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: calc(5px + 0.390625vw);
  font-family: "Cormorant Garamond", serif;
}

body {
  box-sizing: border-box;
}
