*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Cormorant Garamond", serif;
  margin-left: 10rem;
  margin-right: 10rem;
}

body {
  box-sizing: border-box;
}
